In [266]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [267]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [268]:
url = 'https://en.wikipedia.org/wiki/List_of_people_from_North_Carolina'
browser.visit(url)

In [269]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

actors = soup.find_all('div',class_='div-col columns column-width')

a_to_l = actors[2].find_all('a')
m_to_z = actors[3].find_all('a')


actors_list=[]

info_a_to_l =actors[2].find_all('li')
info_m_to_z = actors[3].find_all('li')
for items in info_a_to_l:
    actors_list.append(items.text)
for items in info_m_to_z:
    actors_list.append(items.text)

In [270]:
actors_db = pd.DataFrame(actors_list)
actors_db.columns=["name"]

In [282]:
actors_db = actors_db[actors_db.name.str.contains("act")]
actors_db.head(5)

                                                name
0     Sidney Blackmer (1895–1973), actor (Salisbury)
1  Randy Boone (born 1942), actor and singer (Fay...
2      Doug Brochu (born 1990), actor (Fayetteville)
3         Ben Browder (born 1962), actor (Charlotte)
4    Jim David, stand-up comedian, actor (Asheville)

In [283]:
actors = actors_db['name'].str.split(",",  expand = True)
actor_name = actors[0]

In [284]:
actor_name = pd.DataFrame(actor_name)
actor_name = pd.DataFrame(actor_name[0].str.replace(r"\s\(.*\)",""))
actor_name.columns=["Name"]

In [285]:
actor_name.head()

              Name
0  Sidney Blackmer
1      Randy Boone
2      Doug Brochu
3      Ben Browder
4        Jim David

In [337]:
bio = pd.DataFrame(actors_db['name'].str.split('\),').str[-1])
bio = pd.DataFrame(bio['name'].str.split('\(').str[-1])
bio = pd.DataFrame(bio['name'].str.replace('\)',""))
bio = pd.DataFrame(bio['name'].str.replace('actress',""))

In [339]:
birth_city = bio
birth_city.head()

           name
0     Salisbury
1  Fayetteville
2  Fayetteville
3     Charlotte
4     Asheville

In [344]:
actor_info_db =actor_name.join(birth_city)
actor_info_db=actor_info_db.reset_index(drop=True)

In [347]:
actor_info_db=actor_info_db.rename(columns={"Name":"Actor Name", "name": "City of Birth"})
actor_info_db.head(70)

                 Actor Name           City of Birth
0           Sidney Blackmer               Salisbury
1               Randy Boone            Fayetteville
2               Doug Brochu            Fayetteville
3               Ben Browder               Charlotte
4                 Jim David               Asheville
5             Jennifer Ehle           Winston-Salem
6                Mike Evans               Salisbury
7              Penny Fuller                  Durham
8         Zach Galifianakis              Wilkesboro
9               Ava Gardner              Smithfield
10          Kathryn Grayson           Winston-Salem
11                Pam Grier           Winston-Salem
12            Rhoda Griffis                 Raleigh
13            Andy Griffith              Mount Airy
14          George Grizzard          Roanoke Rapids
15           Julianna Guill           Winston-Salem
16          Jester Hairston            Belews Creek
17          Michael C. Hall                 Raleigh
18          Murray Hamilton              Washington
19         Shirley Hemphill               Asheville
20             Jackee Harry           Winston-Salem
21                Ed Hinton              Wilmington
22              Edwin Hodge            Jacksonville
23          Laurel Holloman             Chapel Hill
24             Brian Huskey               Charlotte
25              Earle Hyman             Rocky Mount
26            Anne Jeffreys               Goldsboro
27          Burgess Jenkins           Winston-Salem
28                Ken Jeong              Greensboro
29            Darwin Joston           Winston-Salem
..                      ...                     ...
39           Julianne Moore              Fort Bragg
40             Anita Morris                  Durham
41               Laura Moss          Kings Mountain
42              Mike Muscat              Fort Bragg
43       John Haymes Newton             Chapel Hill
44               Lee Norris              Greenville
45            Emily Proctor                 Raleigh
46                 Jim Rash               Charlotte
47              Nina Repeta                  Shelby
48          Tequan Richmond              Burlington
49          Britt Robertson               Charlotte
50              Marcy Rylan     Providence Township
51        Christoph Sanders  Arden / Hendersonville
52           Paul Schneider               Asheville
53             Judith Scott              Fort Bragg
54              Nick Searcy               Cullowhee
55           Matthew Settle                 Hickory
56             J. B. Smoove                Plymouth
57            Margo Stilley              Bear Creek
58             Skeet Ulrich                 Concord
59               Liz Vassey                 Raleigh
60      Reginald VelJohnson                 Raleigh
61               Ben Vereen              Laurinburg
62              Jill Wagner           Winston-Salem
63          Gregory Walcott                 Wendell
64        James Harvey Ward              Greenville
65  Mary Elizabeth Winstead             Rocky Mount
66         Evan Rachel Wood                 Raleigh
67               Brad Yoder              High Point
68            Bellamy Young               Asheville

[69 rows x 2 columns]

In [353]:
for index, row in actor_info_db.iterrows():
     print (index,row['Actor Name'],row["City of Birth"])

0 Sidney Blackmer Salisbury
1 Randy Boone Fayetteville
2 Doug Brochu Fayetteville
3 Ben Browder Charlotte
4 Jim David Asheville
5 Jennifer Ehle Winston-Salem
6 Mike Evans Salisbury
7 Penny Fuller Durham
8 Zach Galifianakis Wilkesboro
9 Ava Gardner Smithfield
10 Kathryn Grayson Winston-Salem
11 Pam Grier Winston-Salem
12 Rhoda Griffis Raleigh
13 Andy Griffith Mount Airy
14 George Grizzard Roanoke Rapids
15 Julianna Guill Winston-Salem
16 Jester Hairston Belews Creek
17 Michael C. Hall Raleigh
18 Murray Hamilton Washington
19 Shirley Hemphill Asheville
20 Jackee Harry Winston-Salem
21 Ed Hinton Wilmington
22 Edwin Hodge Jacksonville
23 Laurel Holloman Chapel Hill
24 Brian Huskey Charlotte
25 Earle Hyman Rocky Mount
26 Anne Jeffreys Goldsboro
27 Burgess Jenkins Winston-Salem
28 Ken Jeong Greensboro
29 Darwin Joston Winston-Salem
30 Allyn King
31 Sharon Lawrence Charlotte / Raleigh
32 Beth Leavel Raleigh
33 Chyler Leigh Charlotte
34 Barbara Loden Marion
35 James McEachin Rennert
36 Jane McNeill Whiteville
37 Robert Duncan McNeill Raleigh
38 Eddie Mills Kannapolis
39 Julianne Moore Fort Bragg
40 Anita Morris Durham
41 Laura Moss Kings Mountain
42 Mike Muscat Fort Bragg
43 John Haymes Newton Chapel Hill
44 Lee Norris Greenville
45 Emily Proctor Raleigh
46 Jim Rash Charlotte
47 Nina Repeta Shelby
48 Tequan Richmond Burlington
49 Britt Robertson Charlotte
50 Marcy Rylan Providence Township
51 Christoph Sanders Arden / Hendersonville
52 Paul Schneider Asheville
53 Judith Scott Fort Bragg
54 Nick Searcy Cullowhee
55 Matthew Settle Hickory
56 J. B. Smoove Plymouth
57 Margo Stilley Bear Creek
58 Skeet Ulrich Concord
59 Liz Vassey Raleigh
60 Reginald VelJohnson Raleigh
61 Ben Vereen Laurinburg
62 Jill Wagner Winston-Salem
63 Gregory Walcott Wendell
64 James Harvey Ward Greenville
65 Mary Elizabeth Winstead Rocky Mount
66 Evan Rachel Wood Raleigh
67 Brad Yoder High Point
68 Bellamy Young Asheville

In [34]:
browser.quit()